<link rel="stylesheet" href="{{Assets}}/css/features.css">
<section id="features" class="features-features">
    <div class="features-content">
        <div class="feature-feature">
            <div class="feature-heading">
                <img alt="Thumbs Up" src="https://media.shopranos.eu/media/40b62232-78b3-452f-b802-188248e67873/f9ab7e38-cad1-4097-a071-294aa2a2ab85/f9ab7e38-cad1-4097-a071-294aa2a2ab85" class="feature-icon" />
                <h4 class="feature-header">##Hand Picked Guides##</h4>
            </div>
            <p class="feature-description">##Carefully selected local experts to enhance your travel experience.##</p>
            <hr class="feature-divider">
        </div>
        
        <div class="feature-feature">
            <div class="feature-heading">
                <img alt="Headset" src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a5689a78-e4bb-4792-9fca-2b7e2718c941/f07ad1ae-5e1f-4525-acb9-d0d22efe22e9?org_if_sml=1&force_format=original&w=1500" class="feature-icon" />
                <h4 class="feature-header">##24/7 Support##</h4>
            </div>
            <p class="feature-description">##We're here for you anytime, anywhere, to ensure a smooth journey.##</p>
            <hr class="feature-divider">
        </div>
        
        <div class="feature-feature">
            <div class="feature-heading">
                <img alt="Person" src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/a5689a78-e4bb-4792-9fca-2b7e2718c941/3f675620-885d-47d5-a8c3-6ca672a05814?org_if_sml=1&force_format=original&w=1500" class="feature-icon" />
                <h4 class="feature-header">##Private Tours##</h4>
            </div>
            <p class="feature-description">##Tailor your adventure with personalized, private tours designed just for you.##</p>
        </div>
    </div>
</section>
  
