<link rel="stylesheet" href="{{Assets}}/css/product_offer.css">
<div class="offer-container">
    <a :href="'/product/' + product.alias" class="offer-link">
        <div class="offer-content">
            <img
                alt="Product"
                :src="this._getMediaItem(product.mediaItems) || this._getNoImageUrl()"
                @error="handleImageError"
                class="offer-image"
            />
            <div class="offer-details">
                <span class="offer-location">
                    {{ product.productVariants[0]?.title || product.title }}
                </span>
                <span v-if="product.productVariants.length > 0 && product.productVariants[0].sku" class="offer-sku">
                    SKU: {{ product.productVariants[0].sku }}
                </span>
            </div>
            <div class="product-cart">
                <addtocart :model="product" :quantityActive="false" :isCalculated="isCalculated"></addtocart>
            </div>
        </div>
    </a>
</div>
