<link rel="stylesheet" href="{{Assets}}/css/custom_IconBlock.css">

<section id="find" class="find-find1">
    <div class="find-heading">
      <h2 class="find-header">
        <slot name="header">
          <!--Default content for header-->
          <div class="find-fragment1">
            <span class="find-text2">Find a local guide now</span>
          </div>
        </slot>
      </h2>
      <p class="find-caption">
        <slot name="caption">
          <!--Default content for caption-->
          <div class="find-fragment2">
            <span class="find-text3">
              <p>
                Unlock unique experiences and insider knowledge by exploring with a local guide. From hidden gems to iconic landmarks, our guides bring every destination to life.
                Ready to explore? Find your perfect local guide now and start your adventure!
              </p>
            </span>
          </div>
        </slot>
      </p>
    </div>
    <button class="find-find2 button">
      <span>
        <slot name="find">
          <!--Default content for find-->
          <div class="find-fragment3">
            <span class="find-text4">Find a local guide</span>
          </div>
        </slot>
      </span>
    </button>
</section>
  