<link rel="stylesheet" href="{{Assets}}/css/map.css">
<section>
    <div class="contact-16-parent">
        <div class="contact-16">
          <div class="content">
            <div class="section-title">
              <div class="tagline-wrapper">
                <div class="tagline">Connect</div>
              </div>
              <div class="content1">
                <b class="heading">Get in Touch</b>
                <div style="font-size: medium;">
                  We’re here to help! Reach out for any inquiries or further
                  information about our services.
                </div>
              </div>
            </div>
            <div class="map-row">
              <div class="content2">
                <img class="icon-envelope" alt="" src="https://img.icons8.com/?size=100&id=63489&format=png&color=000000" />
                <div class="contact-info">
                  <b class="heading1">Email</b>
                  <div class="link">hello@soulfly.com</div>
                </div>
              </div>
              <div class="content2">
                <img class="icon-envelope" alt="" src="https://img.icons8.com/?size=100&id=9730&format=png&color=000000" />
                <div class="contact-info">
                  <b class="heading1">Phone</b>
                  <div class="link">+30 210 00 00 000</div>
                </div>
              </div>
              <div class="content2">
                <img class="icon-envelope" alt="" src="https://img.icons8.com/?size=100&id=7885&format=png&color=000000" />
                <div class="contact-info">
                  <b class="heading1">Office</b>
                  <div class="text1">123 Sample St, Sydney NSW 2000 AU</div>
                </div>
              </div>
            </div>
          </div>
              <!-- Old map -->
               <!-- 
                <iframe class="col"
                width="1080"
                height="560"
                style="border:0"
                loading="lazy"
                allowfullscreen
                :src="mapSrc">
                </iframe>
               -->
                <div style="box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);">
                  <div ref="mapContainer" id="map" style="width: 1080px; height: 600px;"></div>
                </div>
        </div>
    </div>
</section>