<section :class="this.model?.cssClass" :id="'comp-'+this.model.id" class="container login-wrapper" style="background: url('https://media.shopranos.eu/media/40b62232-78b3-452f-b802-188248e67873/f4a135b2-4219-4dbb-899d-ce6d206e3524/f4a135b2-4219-4dbb-899d-ce6d206e3524') no-repeat center center / cover; max-width: none !important; width: 100%;">
    <div class="row justify-content-center">
        <div class="card col-lg-5 text-center d-flex flex-column justify-content-center align-items-center login-wrap">
            <span class="s-user"><span class="d-none">##Login##</span></span>
            <h4>##Login##</h4>
            <!--<login></login>-->
            <custom_login></custom_login>
        </div>
    </div>
</section>